{% render 'partials/head.liquid' %}

<section class="squadpage">

  <h1>Squadpage Squad G1</h1>
  <p>Hier vind je alle studenten van squad G1. Maak gebruik van de zoekfunctie en bekijk alle visitekaartjes.</p>

  <ul class="filter-bookgenre">
    <li><a href="/genre/thriller" class="button">Thriller</a></li>
    <li><a href="/genre/drama" class="button">Drama</a></li>
    <li><a href="/genre/comedy" class="button">Comedy</a></li>
    <li><a href="/genre/action" class="button">Action</a></li>
    <li><a href="/genre/alle-genres" class="button">Alle genres</a></li>
  </ul>

  <ul id="person-list">
    {% for person in persons %}

    <li class="student">

        <img src="{{ person.avatar }}" alt="">
        <h2>{{ person.name }}</h2>
        <p>{{ person.fav_book_genre }}</p>
        <p>{{ person.bio }}</p>

        <div class="buttons">
          <a class="student" href="/student/{{ person.id }}">Visitekaartje</a>
          <a target="_blank" href="{{ person.website }}">Github</a>
        </div>

    </li>
  
    {% endfor %}
  </ul>

</section>

  <div class="divider"></div>
  <p>Squadpage - Amber Schalker</p>


{% render 'partials/foot.liquid', squads: squads %}